<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>




    <bean id="UserServiceImpl" class="com.test.service.user.UserServiceImpl" scope="prototype">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="ProviderServiceImpl" class="com.test.service.provider.ProviderServiceImpl" scope="prototype">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="RoleServiceImpl" class="com.test.service.role.RoleServiceImpl" scope="prototype">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="BillServiceImpl" class="com.test.service.bill.BillServiceImpl" scope="prototype">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>