<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.provider.ProviderDao">
    <select id="getProviderListByCodeAndName" resultType="Provider">
        select * from smbms_provider
        <where>
            <if test="proName != null and proName != ''">
                proName like #{proName}
            </if>
            <if test="proCode != null and proCode != ''">
                and proCode like #{proCode}
            </if>
        </where>
    </select>

    <select id="getProviderById" resultType="Provider">
        select * from smbms_provider where id = #{id}
    </select>

    <update id="updateProvider">
        update smbms_provider
        <set>
            <if test="proCode != null ">proCode = #{proCode},</if>
            <if test="proName != null">proName = #{proName},</if>
            <if test="proContact != null">proContact = #{proContact},</if>
            <if test="proPhone != null">proPhone = #{proPhone},</if>
            <if test="proAddress != null">proAddress = #{proAddress},</if>
            <if test="proFax != null">proFax = #{proFax},</if>
            <if test="proDesc != null">proDesc = #{proDesc}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteProvider">
        delete from smbms_provider where id = #{id}
    </delete>

    <insert id="addProvider">
        insert into smbms_provider (proCode , proName , proContact , proPhone , proAddress , proFax , proDesc)
         values (#{proCode} , #{proName} , #{proContact} , #{proPhone} , #{proAddress} , #{proFax} , #{proDesc})
    </insert>

    <select id="getProviderCount" resultType="int">
        select count(1) as count from smbms_provider
        <where>
            <if test="proName != null and proName != ''">
                proName like #{proName}
            </if>
            <if test="proCode != null and proCode != ''">
                and proCode like #{proCode}
            </if>
        </where>

    </select>

</mapper>