<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.bill.BillDao">

    <select id="getBillCountByProId" resultType="int">
        select count(1) as count from smbms_bill where providerId = #{proid}
    </select>

    <select id="getBillList" resultType="Bill">
        select b.* , p.proName as providerName from smbms_bill as b , smbms_provider as p where b.providerId = p.id
        <if test="productName != '' and productName != null">
            and b.productName = #{productName}
        </if>
        <if test="providerId > 0">
            and b.providerId = #{providerId}
        </if>
        <if test="isPayment > 0">
            and b.isPayment = #{isPayment}
        </if>
    </select>

    <select id="getBillById" resultType="Bill">
        select b.* , p.proName as providerName from smbms_bill as b, smbms_provider as p where b.providerId = p.id and b.id = #{id}
    </select>

    <update id="updateBill">
        update smbms_bill
        <set>
            <if test="productName != null ">productName = #{productName},</if>
            <if test="productUnit != null">productUnit = #{productUnit},</if>
            <if test="productCount != null">productCount = #{productCount},</if>
            <if test="totalPrice != null">totalPrice = #{totalPrice},</if>
            <if test="providerId != null">providerId = #{providerId},</if>
            <if test="isPayment != null">isPayment = #{isPayment},</if>
            <if test="modifyBy != null">modifyBy = #{modifyBy},</if>
            <if test="modifyDate != null">modifyDate = #{modifyDate}</if>
        </set>
        where id = #{id}
    </update>

</mapper>